package components

import (
	"strconv"
	"time"
)

func currentYear() string {
	today := time.Now()

	return strconv.Itoa(today.Year())
}

templ Footer() {
	<footer class="text-center">
		<p>
			&copy; { currentYear() } GrdDrw, 
			<a href="https://github.com/esizer" class="text-fuchsia-500 underline hover:text-fuchsia-900 hover:no-underline">
				{ "@esizer" }
			</a>
		</p>
	</footer>
}
