package components

import (
	"strconv"
	"time"
)

func currentYear() string {
	today := time.Now()

	return strconv.Itoa(today.Year())
}

templ Footer() {
	<footer class="text-center py-4 mt-6 bg-white border-t-2 border-t-slate-900 shadow-footer">
		<p>
			&copy;{ currentYear() } GrdDrw 
			@Link(LinkProps{
				href:  "https://github.com/esizer",
				label: "@esizer",
			})
		</p>
	</footer>
}
