package components

import (
	"fmt"
	"github.com/esizer/grddrw/data"
)

css paint(px *data.Pixel) {
	background-color: { templ.SafeCSSProperty(fmt.Sprintf("rgb(%d,%d,%d)", px.R, px.G, px.B)) };
}

templ Pixel(p *data.Pixel) {
	<button
		class={ "aspect-square border border-slate-900" , paint(p) }
		hx-trigger="click"
		hx-put="/pixel"
		hx-swap="outerHTML"
	></button>
}
